body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: 100vh;
}
.container-content {
    max-width: 968px;
}
.container-sidebar {
    max-width: 250px;
    margin: 0 auto;
}
$sidebar-menu: #9197b3;
$active: #5932ea;
$content-grey: #b5b7c0;
@mixin status($color, $bg) {
    color: $color;
    background: $bg;
    border: 1px solid $color;
}

img {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
}

.main {
    display: grid;
    grid-template-columns: 306px 1fr;
    height: 100vh;
    .sidebar {
        padding: 36px 0 0;
        .sidebar__flex {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .sidebar__flex-top {
                flex: 1 1 auto;

                .sidebar__logo {
                    display: flex;
                    align-items: center;
                    .sidebar__logo-v {
                        font-size: 10px;
                        line-height: 15px;
                        letter-spacing: -0.01em;
                        color: #838383;
                        margin-left: 4px;
                    }
                }
                .sidebar__menu {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    margin-top: 53px;
                    .sidebar__menu-item {
                        display: flex;
                        align-items: center;
                        padding: 11px 8px 11px 11px;
                        display: flex;
                        align-items: center;
                        color: $sidebar-menu;
                        border-radius: 9px;
                        position: relative;
                        &::after {
                            content: url(./img/Vector.svg);
                            position: absolute;
                            right: 10px;
                            left: auto;
                        }
                        span {
                            height: 24px;
                            margin-right: 14px;
                            img {
                                &.active {
                                    display: none;
                                }
                            }
                        }
                        &.active {
                            background: $active;
                            color: #fff;
                            span {
                                img {
                                    &.active {
                                        display: block;
                                    }
                                    &.inactive {
                                        display: none;
                                    }
                                }
                            }
                            &::after {
                                content: url(./img/chevron-right\ 2.svg);
                            }
                        }
                    }
                }
            }
            .sidebar__flex-bottom {
                margin-bottom: 76px;
                .sidebar__user {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 12px;
                    }
                    .sidebar__user-name {
                        letter-spacing: 0.01em;
                        h5 {
                            font-size: 14px;
                            line-height: 21px;
                        }
                        p {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: #757575;
                        }
                    }
                }
            }
        }
    }
    .content {
        padding: 41px 95px 0 71px;
        background: #fafbff;
        h1 {
            font-size: 24px;
            line-height: 36px;
        }
        .content__wrapper {
            background: #ffffff;
            box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
            border-radius: 30px;
            padding: 30px 40px 40px 38px;
            margin-top: 51px;
            .content__wrapper-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .page {
                    h2 {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 33px;
                        letter-spacing: -0.01em;
                    }
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        color: #16c098;
                    }
                }
                .search {
                    background: #f9fbff;
                    border-radius: 10px;
                    position: relative;
                    input {
                        background: none;
                        width: 100%;
                        height: 100%;
                        border: none;
                        padding: 10px 30px 10px 40px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: -0.01em;
                        color: $content-grey;
                    }
                    &::before {
                        position: absolute;
                        content: url(./img/search\ 1.svg);
                        top: 59%;
                        left: 8px;
                        transform: translateY(-50%);
                    }
                }
            }
            .content__wrapper-table {
                border-collapse: collapse;
                margin-top: 40px;
                width: 100%;
                th,
                td {
                    padding: 20px 0;
                    text-align: justify;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                }
                // th:nth-last-child(1){
                //     text-align: center;
                // }
                th {
                    color: $content-grey;
                }
                tr {
                    border-bottom: 1px solid #eeeeee;
                }
                .table-body {
                    .table-status {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px;
                        border-radius: 4px;
                        &.active {
                            @include status(rgba(0, 176, 135, 1), rgba(22, 192, 152, 0.38));
                        }
                        &.inactive {
                            @include status(rgba(223, 4, 4, 1), rgba(255, 197, 197, 1));
                        }
                    }
                }
            }
            .content__wrapper-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                p {
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: $content-grey;
                }
                .pagination {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    li {
                        background: #f5f5f5;
                        border: 1px solid #eeeeee;
                        border-radius: 4px;
                        display: flex;
                        width: 26px;
                        height: 24px;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: -0.01em;
                        color: #404b52;
                        &.active{
                            background: $active;
                            color: #fff;
                        }
                    }
                    .dots {
                        background: none;
                        border: none;
                    }
                    .numbers {
                    }
                }
            }
        }
    }
}
